@media (max-width: 67.5em) {
  html {
    font-size: 56.25%;
  }
  .-hdng > h3 {
    font-size: 4.2rem;
  }
}

@media (max-width: 60.4em) {
  .hero {
    grid-template-columns: 1fr;
  }

  .section-lft {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: 0;
  }

  .-hdng > h3 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .-txt-box {
    text-align: center;
  }

  .section-rgt {
    display: none;
  }
}

@media (max-width: 51.25em) {
  .ntwis {
    padding: 5.8rem;
  }
  .ntwis > .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .rgt-sec > img {
    /* height: 50rem; */
    padding-top: 5rem;
  }

  .intr-bdy > p {
    font-size: 2rem;
  }

  .img-secss {
    grid-template-columns: 1fr 1fr;
  }

  .txximg {
    display: none;
  }
  .img-txtx {
    align-items: start;
    justify-content: start;
  }

  .img-txtx > h3 {
    font-size: 2rem;
  }

  .img-txtx > p {
    font-size: 2rem;
  }
}

@media (max-width: 44em) {
  .top-bar {
    max-width: 704rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  /* .middle-section,
  .right-section {
    display: none;
  } */

  .left-section {
    margin: 0;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 500ms ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav > ul {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav > ul > li,
  .main-nav > ul > span > li {
    font-size: 3rem;
  }
  .main-nav > ul > span {
    padding: 1rem;
  }

  .elps1,
  .elps2 {
    bottom: 16rem;
  }

  .flex-box > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .flex-box > .container > .icns22,
  .flex-box > .container > .icns33 {
    display: none;
  }

  .lsts2 > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 10rem;
    gap: 10rem;
  }

  .ppp > h2 {
    font-size: 2.8rem;
  }

  .img-txtx > h3,
  .img-txtx > p {
    font-size: 1.6rem;
  }
}

@media (max-width: 33em) {
  .hero {
    padding: 2.4rem;
  }

  .lsty > .mbl-rem {
    display: none;
  }

  .elps1,
  .elps2 {
    top: rem;
  }

  .ntwis {
    padding: 2rem;
  }

  .ntwis > .container {
    align-items: start;
  }

  .intr-bdy {
    max-width: 33rem;
    margin: 0 auto;
  }
  .intr-bdy > span > h3,
  .intr-bdy > span > ion-icon {
    font-size: 2rem;
  }

  .intr-bdy > p {
    font-size: 1.4rem;
  }

  .intr-hdn {
    max-width: 33rem;
  }

  .intr-hdn h2 {
    font-size: 2rem;
  }

  .flex-box > .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-box > .container > .icns22,
  .flex-box > .container > .icns33 {
    display: flex;
  }

  .imgsd {
    display: none;
  }

  .img-secss {
    /* align-items: center; */
    grid-template-columns: 1fr;
  }

  .img-txtx {
    align-items: center;
    text-align: start;
  }

  .img-txtx > img {
    width: 100%;
  }
  .img-txtx > p {
    font-size: 1.6rem;
    /* text-align: center; */
  }

  .-txt-box > input {
    width: 30rem;
    border-radius: 0.9rem;
  }
  .spn2 {
    left: 26rem;
  }

  .img-txtx > h3 {
    font-size: 2.4rem;
    padding: 2rem 0;
  }

  .ppp {
    text-align: center;
  }

  .lists > .container {
    grid-template-columns: 1fr;
    /* gap: 1rem; */
    row-gap: 1rem;
    padding: 0 6.4rem;
  }

  .lists > .container > div > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lists > .container > div > span > ion-icon {
    font-size: 2rem;
    padding-right: 1rem;
  }

  .down-arr {
    display: block;
  }

  .lists > .container > div > ul {
    display: none;
  }

  .imgs > .hidn {
    display: none;
  }

  .elps1,
  .elps2 {
    bottom: 22rem;
  }

  .pop-ser > .container > p {
    font-size: 3.2rem;
  }

  .footer > .container {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 23.125em) {
  .ntwis .container {
    max-width: 37rem;
    padding: 0;
  }

  .pop-ser > .container {
    padding: 2rem;
  }

  .pop-ser > .container > p {
    padding: 2rem;
  }
  .-lsts > p > span {
    font-size: 1rem;
  }

  .elps1,
  .elps2 {
    bottom: 14rem;
  }

  .intr-hdn > h2 {
    font-size: 1.8rem;
  }

  .intr-bdy > h3 {
    font-size: 1.6rem;
  }

  .intr-bdy > span > ion-icon {
    font-size: 2rem;
  }

  .intr-bdy > p {
    font-size: 1.4rem;
  }

  .img-txtx > h3 {
    font-size: 2rem;
    /* padding: 0; */
  }

  .img-txtx > p {
    font-size: 1.6rem;
    padding-left: 1rem;
  }

  .flex-box > .grid2 > div > p {
    font-size: 1.4rem;
  }

  .lsts .container {
    padding: 0;
  }

  .lsts > .container > div > span h3 {
    font-size: 2rem;
  }
  .-txt-box > input {
    width: 26rem;
    border-radius: 0.9rem;
  }
  .spn2 {
    left: 23rem;
  }
}

@media (max-width: 21em) {
  .tob-bar {
    max-width: 33rem;
  }
  .desc-img {
    padding: 3.2rem 0;
  }
  .hero {
    max-width: 33rem;
    margin: 0 auto;
    padding: 2.2rem;
  }

  .section-lft {
    max-width: 30rem;
  }

  .hnbv > .mqry {
    font-size: 2.4rem;
  }
  .-txt-box > input {
    width: 26rem;
    border-radius: 0.9rem;
  }

  .spn2 {
    left: 23rem;
  }

  .-lsts > .mbl-rem {
    display: none;
  }

  .-btn button {
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
  }

  .elps1,
  .elps2 {
    bottom: 13rem;
  }

  .ntwis {
    padding: 1rem;
  }
  .ntwis > .container {
    margin: 0 auto;
  }

  .intr-hdn h2 {
    font-size: 2rem;
  }

  .lft-sec {
    padding: 1.8rem;
    max-width: 40rem;
  }
  .intr-bdy {
    max-width: 40rem;
    margin: 0;
  }

  .img-txtx > p {
    font-size: 1.4rem;
  }

  .footer > .container {
    display: flex;
    flex-direction: column;
  }
}

/* SIGNUP MEDIA */

@media (max-width: 50em) {
  .img-area {
    flex-direction: column;
    gap: 3rem;
  }

  .type-hero {
    background-color: #fff;
  }
}

@media (max-width: 39.5em) {
  .message {
    font-size: 2rem;
  }

  .job1,
  .job2 {
    max-width: 20rem;
  }

  .parag {
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  .absolute {
    top: 5rem;
    left: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 29.4em) {
  .dmessge {
    font-size: 1.3rem;
  }

  .job1,
  .job2 {
    max-width: 20rem;
  }

  .absolute {
    top: 5rem;
    left: 2rem;
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .parag {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 23.5em) {
  html {
    font-size: 50%;
  }

  .sign-up {
    padding: 4.8rem;
  }

  .type-hero {
  }
  .job1,
  .job2 {
    max-width: 20rem;
  }

  .absolute {
    top: 5rem;
    left: 2rem;
    font-size: 1rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.4rem 2.4rem;
    margin-left: 1.5rem;
  }

  .message {
    font-size: 1.6rem;
  }
}
