@media (max-width: 58em) {
  html {
    font-size: 50%;
  }

  .login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 9.6rem; */
    /* margin: 0 auto; */
  }
}

@media (max-width: 47em) {
  html {
    /* font-size: 50%; */
  }
  body {
    background: #add8e6;
  }

  .login-section {
    padding: 3rem 4.8rem;
  }

  .hero-login-section {
    background: #add8e6;
    max-width: 70rem;
    padding: 4.8rem;
    /* height: 60vh; */
  }
  .hero-section-right {
    display: none;
  }
  .hero-section-left {
    max-width: 100%;
  }

  .lgn {
    font-size: 2rem;
  }
}

@media (max-width: 25em) {
  html {
    /* font-size: 37.5%; */
  }

  .hero-login-section {
    max-width: 60rem;
    height: 100%;
  }

  .hero-section-left {
    max-width: 100%;
  }

  #name,
  #password {
    padding: 1rem 5rem;
  }

  #name::placeholder,
  #password::placeholder {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .login-app {
    padding: 1.4rem 8rem;

    font-size: 1rem;
  }

  .img--abs {
    width: 2rem;
  }

  .absolute > img {
    width: 2rem;
  }
  .absolute {
    top: 1rem;
  }
}
